<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navBar.ejs") %>
    <main role="main" class="container-fluid">
      <!-- TITLE & ABOUT PARAGRAPH -->
      <div class="about-div">
        <h1 class="about-title">About</h1>
        <p class="about-p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nulla veritatis molestias error ipsam aut repudiandae eius quo nam animi ad similique, commodi, delectus amet quod illum
          voluptate cupiditate ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio deleniti vitae adipisci. In ut repudiandae, odit quasi culpa veniam consectetur deserunt rem quod
          dolores dolorem expedita ratione voluptates iure a. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore nisi quaerat voluptas at! Maxime neque doloremque aut nulla
          perferendis, eum ipsum omnis eaque. Odio voluptate perferendis doloremque nostrum sunt.
        </p>
      </div>
    </main>
    <%- include("./partials/jsFiles.ejs") %>
  </body>
</html>
