<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/navBar.ejs") %>
  <main role="main" class="container-fluid">
    <div class="container">
      <h2 class="tick-h2">Ευχαριστούμε για την συμμετοχή!</h2>
      <img class="tick-image" src="../assets/images/tick.png">
      <p class="end-p">Αν θέλετε να διαβάσετε περισσότερα για το θέμα που διαπραγματεύεται η έρευνα
        <br> πατήστε το About που βρίσκεται πάνω δεξιά στην οθόνη σας
      </p>
    </div>
  </main>
  <%- include("./partials/jsFiles.ejs") %>
</body>

</html>