html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #202125;
  margin: 0;
  color: #f8f5f1;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* NAVIGATION BAR */
a {
  text-decoration: none;
  color: #f8f5f1;
}
.active {
  color: #f8a488;
}
a:hover {
  color: #5aa897;
}
.navbar {
  background-color: #202125;

  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.tree-logo {
  height: 3.75rem;
  width: 3.75rem;
  margin-left: 2rem;
}
.unordered-list {
  margin-left: auto;
}

/* NAVBAR TOGGLER */
.navbar-toggler {
  background-color: #5aa897;
  color: #45526c;
}

/* ABOUT PAGE */

.about-p,
.proCov-p {
  padding-left: 2rem;
}
.about-title {
  padding: 5rem 3rem 3rem 2rem;
}

/* HOME PAGE */

/* buttons before i click on them */
.dotButtonBeforeClicked1,
.dotButtonBeforeClicked2 {
  background-color: black;
  color: black;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  text-align: center;
}
.dotButtonBeforeClicked1 {
  margin: 10rem 0 0 20rem;
  padding-top: 3rem;
}
.dotButtonBeforeClicked2 {
  margin: -13rem 0 0 63rem;
  padding-top: 4rem;
}

/* buttons when i click on them */
.dotButton1 {
  color: #f8f5f1;
  background-color: #5aa897;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin: 10rem 0 0 20rem;
  text-align: center;
  padding-top: 3rem;
}
.dotButton2 {
  color: #f8f5f1;
  background-color: #45526c;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin: -13rem 0 0 63rem;
  text-align: center;
  padding-top: 4rem;
}
.dotButton1:hover {
  color: #45526c;
}
.dotButton2:hover {
  color: #5aa897;
}
.home-p {
  padding: 1.5rem 2rem 0 2rem;
}
.homeRedirLink {
  padding: 0.5rem;
}

/* EDIT CSS */
.content-input {
  height: 500px;
}

/* ERROR PAGE & END OF SURVEY PAGE */
.end-p{
  color:#f8f5f1;
  margin-top: 2%;
  text-align: center;
}
.ghost-image {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
.ghost-h2 {
  text-align: center;
  color: #f8a488;
}
.tick-h2 {
  text-align: center;
  color:#5aa897;
}
.tick-image {
display: block;
width: 15%;
margin-left: auto;
margin-right: auto;
margin-top: 2%;
}

/* PRE & POST COVID PAGE */

.container {
  margin-top: 5%;
  color: #45526c;
}
.covid-form {
  background-color: #202125;
  color: #f8f5f1;
  box-shadow: 0;
  border: 0;
  
}
.explanation-p {
  margin: 6% 5% 1% 5%;
}
hr {
  border-top: 5px dotted #45526c;
  background-color: #202125;  
}
.modal-body {
  margin-left: -2%;
}
.modal-footer {
  
  
  border-top-color: #5aa897;
}
.modal-header {
  border-bottom-color: #5aa897;
}
.next-button {
  background-color: #45526c;
  color: #f8f5f1;
}
.question-div {
  margin: 2% auto 1% auto;
}

/* MAP CSS */
#map {
  width: auto;
  height: 500px;
  margin-top: 13%;
  
}

/* REDIRECT PAGE */

.redirectDiv {
  width: 50%;
  margin-top: 8rem;
  margin-left: 25%;
  margin-right: 25%;
}
.redirectLink {
  margin: 0;
  padding: 0.5rem;
  color: #5aa897;
}
.redirectLink:hover {
  text-decoration: underline;
}
.thankYou-p,
.redirectLink {
  display: inline-block;
}
.thankYouTitle {
  padding-bottom: 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 990px) {
  .about-div {
    width: 80%;
  }
  .navbar-toggler {
    margin-left: 2rem;
    z-index: 2;
  }
  .navbar-collapse {
    margin-left: 2rem;
  }
}